<%= form_for @post, :html => {:multipart => true} do |f| %>
<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <h2> <%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control"%>
</div>

<div class="form-group">
  <%= f.label :body %><br>
  <%= f.cktext_area :body, class: "form-control cktext", columns: 30 %>
</div>
<div class="form-group">
  <%= f.label "Upload an Image for the Post" %>
  <%= f.file_field :post_image, default: @post.post_image %>
</div>
<%= f.submit "Submit Post", class:"btn btn-primary btn-block" %>
<% end %>
