<%provide(:title, "All Posts") %>
<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2>
      <%= link_to post.title, post %>
    </h2>
    <p class="date">
      <span class="glyphicon glyphicon-time"></span> <%= post.created_at.strftime("Posted on %B, %d, %Y, at %I:%M %p %Z")%> with <%= pluralize(post.comments.count, "comment") %>
      by <%= full_name(post.user_id) %>
    </p>
    <% if post.post_image.exists? %>
       <%= link_to post_path(post) do %>
         <%= image_tag post.post_image.url(:default), alt:"#{post.title}" %>
       <% end %>
    <% else %>
      <%= image_tag "logo.png", class:"img-responsive", width:"600px", alt:"#{post.title}" %>
    <% end %>
    <br><hr>
  </div>
<% end %>
  <div class="digg_pagination">
    <%= will_paginate @posts, :container => false %>
</div>
<br>
