<% provide(:title, "#{@post.title}") %>
<div class="span8 clearfix">

  <h1 class="font-bold">
    <%= @post.title %>
  </h1>
  <p class="date">
    Posted by <%= full_name(@post.user_id) %> <%= time_ago_in_words(@post.created_at) %> ago
    <% if user_signed_in? and current_user.admin? %>
      | <%= link_to "Edit", edit_post_path(@post) %>
      | <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
  <% if @post.post_image.exists? %>
    <%= image_tag @post.post_image.url(:default), alt:"#{@post.title}", class:"img-responsive" %>
  <% else %>
    <%= image_tag "logo.png", class:"img-responsive", width:"600px", alt:"#{@post.title}" %>
  <% end %>
  <p class="body"><%= sanitize @post.body%><p>


  <hr>
  <div class="span8" name="comments">
    <h2> <%= pluralize(@post.comments.count, "comment") %></h2>
    <%= render @post.comments %>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </div>
</div>
