<div id="sidebar">
  <%= link_to root_path do %>
    <%= image_tag "logo.png",id:"logo" %>
  <% end %>
  <ul>
    <li class="category">Website</li>
    <li> <%= link_to "Blog", root_path %></li>
    <li>About</li>
  </ul>

  <ul>
    <li class="category">Social</li>
    <li> <%= link_to "Facebook", "http://www.facebook.com/leatherwoodhiluxoptics"%></li>
    <li> <%= link_to "Twitter", "http://www.twitter.com/hiluxoptics" %></li>
    <li> <%= link_to "Instagram", "http://www.instagram.com/leatherwoodoptics" %> </li>
  </ul>

  <p class="sign_in">
    Admin Login
  </p>
</div>
