<div class="col-md-4 col-sm-4">

  <!-- Search Bar -->
  <div class="well">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Hi-Lux Blog">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>

  <!-- well for archived articles and widgets -->
  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li><%= link_to "Archive", "#" %></li>
          <li><%= link_to "Archive", "#" %></li>
          <li><%= link_to "Archive", "#" %></li>
          <li><%= link_to "Archive", "#" %></li>
        </ul>
      </div>

      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li><%= link_to "Archive", "#" %></li>
          <li><%= link_to "Archive", "#" %></li>
          <li><%= link_to "Archive", "#" %></li>
          <li><%= link_to "Archive", "#" %></li>
        </ul>
      </div>
    </div>
    <!--end of archive row -->
  </div>

  <!-- widget well -->
  <div class="well">
    <h4>Add Social Media / Other widgets here</h4>
  </div>
  <!-- end of archive well -->
</div>
