<div class="col-md-4 col-sm-4">

  <!-- Search Bar -->
  <div class="well well-padding">
    <div class="input-group">
      <!-- This is the search bar -->
      <%= form_tag posts_path, method: :get do%>
        <p>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder:"Search Hi-Lux Blog Posts" %>
          <%= submit_tag "Search", name: nil, class:"btn btn-default" %>
        </p>
      <% end %>
      <!-- end search bar -->
    </div>
  </div>

  <!-- well for archived articles and widgets -->
  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li><%= link_to "January 2015", "#" %></li>
          <li><%= link_to "February 2015", "#" %></li>
          <li><%= link_to "March 2015", "#" %></li>
          <li><%= link_to "April 2015", "#" %></li>
          <li><%= link_to "May 2015", "#" %></li>
          <li><%= link_to "June 2015", "#" %></li>
        </ul>
      </div>

      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li><%= link_to "July 2015", "#" %></li>
          <li><%= link_to "August 2015", "#" %></li>
          <li><%= link_to "September 2015", "#" %></li>
          <li><%= link_to "October 2015", "#" %></li>
          <li><%= link_to "November 2015", "#" %></li>
          <li><%= link_to "December 2015", "#" %></li>
        </ul>
      </div>
    </div>
    <!--end of archive row -->
  </div>

  <!-- widget well -->
  <div class="well well-sm">
    <h3>Follow Us on Social Media!</h3>
    <div class="fb-follow" data-href="https://www.facebook.com/LeatherwoodHiLuxOptics" data-colorscheme="light" data-layout="standard" width="200" data-show-faces="true"></div>
    <br>
    <div class="span4">
      <a href="https://twitter.com/HiLuxOptics" class="twitter-follow-button" data-show-count="false">Follow @HiLuxOptics</a>
    </div>
  </div>
  <!-- end of archive well -->
</div>
