<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %></title>
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/messages' %>

  <div class="container" id="page_body">
    <div id="content">
      <div class="row row-centered">

        <div class="col-md-8 col-sm-8 post-feed col-centered">
          <h1 class="page-header text-center">
            <%= link_to root_path do %>
              <%= image_tag "hiluxoptics_banner.png", class:"img-responsive" %>
            <% end %>
            <small>Blog & Industrial Commentary</small>
          </h1>
          <%= yield %>
        </div>

        <%= render 'layouts/well' %>
        <script src="//platform.twitter.com/widgets.js"></script>
        <!-- end of content row -->
      </div>
      <!-- end of content container -->
    </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
