<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/header' %>
  <% flash.each do |name, msg|%>
    <%= content_tag(:div, msg, class:"alert alert-#{name}") %>
  <% end %>

  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-8">
        <h1 class="page-header">
          Leatherwood Hi-Lux <small>Blog & Industrial Commentary</small>
        </h1>
        <%= yield %>
      </div>

      <%= render 'layouts/well' %>
      <script src="//platform.twitter.com/widgets.js"></script>
      <!-- end of content row -->
    </div>
    <!-- end of content container -->
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
